# Imports

In [66]:
import pandas as pd
import numpy as np
import plotly.graph_objs as go
import plotly.express as px
import matplotlib.pyplot as plt
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
import statsmodels.formula.api as smf
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_percentage_error
import seaborn as sns

In [67]:
df = pd.read_csv("ALL_DATA_COMBINED.csv")

In [68]:
df.head()

,week_start,digital_catchuptv_bledina_brand-equity_spends,digital_dataretailers_bledina_brand-equity_spends,digital_directbuying_bledina_brand-equity_spends,digital_keywordtargeting_bledina_brand-equity_spends,digital_nativeads_bledina_brand-equity_spends,digital_programmatic_bledina_brand-equity_spends,digital_sea_bledina_brand-equity_spends,digital_social_bledina_brand-equity_spends,press_equity_bledina_brand-equity_spends,...,digital_social_bledina_product_spends,press_product_bledina_product_spends,tv_product_bledina_product_spends,promo_total_bledina_bledina_spends,retail_total_bledina_product_volume,retail_total_bledina_product_dvm,retail_total_bledina_product_price,competition_retail_competition_nonorganic_dvm,competition_retail_competition_nonorganic_price,Sales
0,02-01-2017,0.01,0.0,0.01,0.0,2367.40,0.06,16089.49,0.01,0.0,...,0.0,0.0,0.0,7238.542484,1.159064e+06,67.142970,5.941145,49.752306,4.615065,6886165.0
1,09-01-2017,0.00,0.0,0.01,0.0,2785.65,0.05,11618.44,10034.99,0.0,...,0.0,0.0,0.0,20498.188230,9.700224e+05,63.112123,6.057041,45.138664,4.613792,5875465.0
2,16-01-2017,0.00,0.0,0.01,0.0,2708.31,0.08,10388.53,6955.56,0.0,...,0.0,0.0,0.0,104070.912100,1.004450e+06,64.281646,5.871734,50.758389,4.523880,5897865.0
3,23-01-2017,0.00,0.0,0.00,0.0,2473.94,0.08,9699.73,4630.01,0.0,...,0.0,0.0,0.0,67294.616930,9.012154e+05,63.696530,6.026822,51.561729,4.645751,5431465.0
4,30-01-2017,0.00,0.0,0.01,0.0,618.99,0.01,6182.01,2911.88,0.0,...,0.0,0.0,0.0,46532.729780,9.233847e+05,64.752914,5.953575,51.450668,4.707299,5497440.0

In [69]:
df.columns.tolist()

['week_start',
 'digital_catchuptv_bledina_brand-equity_spends',
 'digital_dataretailers_bledina_brand-equity_spends',
 'digital_directbuying_bledina_brand-equity_spends',
 'digital_keywordtargeting_bledina_brand-equity_spends',
 'digital_nativeads_bledina_brand-equity_spends',
 'digital_programmatic_bledina_brand-equity_spends',
 'digital_sea_bledina_brand-equity_spends',
 'digital_social_bledina_brand-equity_spends',
 'press_equity_bledina_brand-equity_spends',
 'tv_equity_bledina_brand-equity_spends',
 'digital_dataretailers_bledina_brand-range_spends',
 'digital_directbuying_bledina_brand-range_spends',
 'digital_keywordtargeting_bledina_brand-range_spends',
 'digital_programmatic_bledina_brand-range_spends',
 'digital_sea_bledina_brand-range_spends',
 'digital_social_bledina_brand-range_spends',
 'press_product_bledina_brand-range_spends',
 'app_total_bledina_brand_visits',
 'crm_automatic_bledina_brand_emails',
 'crm_event_bledina_brand_emails',
 'website_total_bledina_brand_visits',
 'competition_digital_competition-nestle_total_spends',
 'competition_digital_competition-others_total_spends',
 'competition_ooh_competition-nestle_total_spends',
 'competition_ooh_competition-others_total_spends',
 'competition_press_competition-nestle_total_spends',
 'competition_press_competition-others_total_spends',
 'competition_tv_competition-nestle_total_spends',
 'competition_tv_competition-others_total_spends',
 'macroeconomic_total_total_total_cci',
 'macroeconomic_total_total_total_holiday',
 'macroeconomic_total_total_total_livebirths',
 'macroeconomic_total_total_total_lockdownflag',
 'macroeconomic_total_total_total_population',
 'macroeconomic_total_total_total_unemploymentrate',
 'macroeconomic_total_total_total_weeklycases',
 'macroeconomic_total_total_total_weeklydeath',
 'digital_catchuptv_bledina_product_spends',
 'digital_dataretailers_bledina_product_spends',
 'digital_keywordtargeting_bledina_product_spends',
 'digital_programmatic_bledina_product_spends',
 'digital_social_bledina_product_spends',
 'press_product_bledina_product_spends',
 'tv_product_bledina_product_spends',
 'promo_total_bledina_bledina_spends',
 'retail_total_bledina_product_volume',
 'retail_total_bledina_product_dvm',
 'retail_total_bledina_product_price',
 'competition_retail_competition_nonorganic_dvm',
 'competition_retail_competition_nonorganic_price',
 'Sales']

# DF splits on Digital , Non-Digital, Promo

In [70]:
digital_columns = [col for col in df.columns if 'digital' in col.lower()]

In [71]:
Digital=df[digital_columns]

In [72]:
promo_columns = [col for col in df.columns if 'promo' in col.lower()]

In [73]:
Promo=df[promo_columns]

In [74]:
non_digital_columns= [col for col in df.columns if 'spends' in col.lower() and 'digital' not in col.lower() and 'competition' not in col.lower()]

In [75]:
non_digital_columns.remove('promo_total_bledina_bledina_spends')

In [76]:
Non_Digital=df[non_digital_columns]

In [77]:
Non_Digital

,press_equity_bledina_brand-equity_spends,tv_equity_bledina_brand-equity_spends,press_product_bledina_brand-range_spends,press_product_bledina_product_spends,tv_product_bledina_product_spends
0,0.0,2369.390000,0,0.0,0.0
1,0.0,2470.600000,0,0.0,0.0
2,0.0,2470.600000,0,0.0,0.0
3,0.0,2470.600000,0,0.0,0.0
4,0.0,2463.250000,0,0.0,0.0
...,...,...,...,...,...
177,0.0,2777.054278,0,0.0,0.0
178,0.0,2347.751201,0,0.0,0.0
179,0.0,3132.570888,0,0.0,0.0
180,0.0,3132.570888,0,0.0,0.0
181,0.0,2441.661249,0,0.0,0.0

In [78]:
Digital=Digital.drop(['competition_digital_competition-nestle_total_spends','competition_digital_competition-others_total_spends'],axis=1)

# Aggreate

In [79]:
def row_sum(row):
    return row.iloc[1:].sum()

# Non Digital

In [80]:
Non_Digital['Non_Digital_Sum'] = Non_Digital.apply(row_sum,axis=1)

C:\Users\AniruddhaMistry\AppData\Local\Temp\ipykernel_6088\4169463997.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Non_Digital['Non_Digital_Sum'] = Non_Digital.apply(row_sum,axis=1)

# Digital

In [81]:
Digital['Digital_Sum'] = Digital.apply(row_sum, axis=1)

# Promo

In [82]:
Promo

     promo_total_bledina_bledina_spends
0                           7238.542484
1                          20498.188230
2                         104070.912100
3                          67294.616930
4                          46532.729780
..                                  ...
177                        23682.980950
178                        15803.450730
179                         2392.235897
180                        13390.429120
181                        23858.509340

[182 rows x 1 columns]

# Time-Period

In [83]:
df['week_start'].head(1)

0    02-01-2017
Name: week_start, dtype: object

In [84]:
df['week_start'].tail(1)

181    22-06-2020
Name: week_start, dtype: object

# Convert week_start to datetime

In [85]:
df['week_start'] = pd.to_datetime(df['week_start'], format='%d-%m-%Y')

# KPI

In [86]:
kpi = ['week_start','crm_automatic_bledina_brand_emails','website_total_bledina_brand_visits','retail_total_bledina_product_dvm','Sales']

In [87]:
KPI_df = df[kpi]

In [88]:
KPI_df['Digital'] = Digital['Digital_Sum']

C:\Users\AniruddhaMistry\AppData\Local\Temp\ipykernel_6088\2750205986.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  KPI_df['Digital'] = Digital['Digital_Sum']

In [89]:
KPI_df['Non_Digital'] = Non_Digital['Non_Digital_Sum']

C:\Users\AniruddhaMistry\AppData\Local\Temp\ipykernel_6088\2141172397.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  KPI_df['Non_Digital'] = Non_Digital['Non_Digital_Sum']

In [90]:
KPI_df['Promo'] = Promo['promo_total_bledina_bledina_spends']

C:\Users\AniruddhaMistry\AppData\Local\Temp\ipykernel_6088\1598446203.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  KPI_df['Promo'] = Promo['promo_total_bledina_bledina_spends']

In [91]:
KPI_df

,week_start,crm_automatic_bledina_brand_emails,website_total_bledina_brand_visits,retail_total_bledina_product_dvm,Sales,Digital,Non_Digital,Promo
0,2017-01-02,21274.0000,186007,67.142970,6886165.0,18456.970000,2369.390000,7238.542484
1,2017-01-09,41976.0000,141778,63.112123,5875465.0,24439.140000,2470.600000,20498.188230
2,2017-01-16,24593.0000,130202,64.281646,5897865.0,20052.500000,2470.600000,104070.912100
3,2017-01-23,6784.0000,111688,63.696530,5431465.0,16803.770000,2470.600000,67294.616930
4,2017-01-30,23766.0000,81460,64.752914,5497440.0,9712.900000,2463.250000,46532.729780
...,...,...,...,...,...,...,...,...
177,2020-05-25,43550.0000,93887,57.179983,5164500.0,31559.826052,2777.054278,23682.980950
178,2020-06-01,210240.5329,99939,58.390835,5617000.0,11186.583246,2347.751201,15803.450730
179,2020-06-08,210240.5329,110895,56.617011,5183900.0,13361.599367,3132.570888,2392.235897
180,2020-06-15,210240.5329,101008,55.464290,5042800.0,12825.505402,3132.570888,13390.429120
181,2020-06-22,210240.5329,96274,54.264990,5500300.0,14542.227933,2441.661249,23858.509340

# Check for zero values

In [92]:
KPI_df.columns

Index(['week_start', 'crm_automatic_bledina_brand_emails',
       'website_total_bledina_brand_visits',
       'retail_total_bledina_product_dvm', 'Sales', 'Digital', 'Non_Digital',
       'Promo'],
      dtype='object')

In [93]:
(KPI_df==0).sum()

week_start                             0
crm_automatic_bledina_brand_emails     0
website_total_bledina_brand_visits     0
retail_total_bledina_product_dvm       0
Sales                                  0
Digital                                1
Non_Digital                           15
Promo                                  0
dtype: int64

# Impute zero values

In [94]:
KPI_df.replace(0, pd.np.nan, inplace=True)

C:\Users\AniruddhaMistry\AppData\Local\Temp\ipykernel_6088\1205738032.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  KPI_df.replace(0, pd.np.nan, inplace=True)
C:\Users\AniruddhaMistry\AppData\Local\Temp\ipykernel_6088\1205738032.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  KPI_df.replace(0, pd.np.nan, inplace=True)

In [95]:
median = KPI_df.median()

C:\Users\AniruddhaMistry\AppData\Local\Temp\ipykernel_6088\3699625188.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  median = KPI_df.median()

In [96]:
KPI_df.fillna(median, inplace=True)

C:\Users\AniruddhaMistry\AppData\Local\Temp\ipykernel_6088\4167979315.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  KPI_df.fillna(median, inplace=True)

In [97]:
(KPI_df==0).sum()

week_start                            0
crm_automatic_bledina_brand_emails    0
website_total_bledina_brand_visits    0
retail_total_bledina_product_dvm      0
Sales                                 0
Digital                               0
Non_Digital                           0
Promo                                 0
dtype: int64

# Change in KPI

In [98]:
first_ad_weeek_start = KPI_df['week_start'].min()

In [99]:
KPI_df_since_ad = KPI_df[KPI_df['week_start'] >= first_ad_weeek_start]

In [100]:
KPI_pct_change = KPI_df_since_ad.set_index('week_start').pct_change()

In [101]:
KPI_pct_change.isnull().sum()

crm_automatic_bledina_brand_emails    1
website_total_bledina_brand_visits    1
retail_total_bledina_product_dvm      1
Sales                                 1
Digital                               1
Non_Digital                           1
Promo                                 1
dtype: int64

In [102]:
KPI_pct_change = KPI_pct_change.fillna(0)

In [103]:
KPI_pct_change.isnull().sum()

crm_automatic_bledina_brand_emails    0
website_total_bledina_brand_visits    0
retail_total_bledina_product_dvm      0
Sales                                 0
Digital                               0
Non_Digital                           0
Promo                                 0
dtype: int64

In [104]:
KPI_pct_change=KPI_pct_change.reset_index()

In [105]:
KPI_pct_change.columns

Index(['week_start', 'crm_automatic_bledina_brand_emails',
       'website_total_bledina_brand_visits',
       'retail_total_bledina_product_dvm', 'Sales', 'Digital', 'Non_Digital',
       'Promo'],
      dtype='object')

In [106]:
KPI_avg_pct_change = KPI_pct_change.mean()

C:\Users\AniruddhaMistry\AppData\Local\Temp\ipykernel_6088\1042725376.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  KPI_avg_pct_change = KPI_pct_change.mean()

In [107]:
KPI_avg_pct_change

crm_automatic_bledina_brand_emails      0.842299
website_total_bledina_brand_visits      0.008991
retail_total_bledina_product_dvm       -0.000762
Sales                                   0.003573
Digital                               526.179905
Non_Digital                             2.285586
Promo                                  10.551112
dtype: float64

In [108]:
KPI_pct_change

,week_start,crm_automatic_bledina_brand_emails,website_total_bledina_brand_visits,retail_total_bledina_product_dvm,Sales,Digital,Non_Digital,Promo
0,2017-01-02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2017-01-09,0.973113,-0.237781,-0.060034,-0.146773,0.324114,0.042716,1.831812
2,2017-01-16,-0.414118,-0.081649,0.018531,0.003812,-0.179492,0.000000,4.077079
3,2017-01-23,-0.724149,-0.142194,-0.009102,-0.079079,-0.162011,0.000000,-0.353377
4,2017-01-30,2.503243,-0.270647,0.016585,0.012147,-0.421981,-0.002975,-0.308522
...,...,...,...,...,...,...,...,...
177,2020-05-25,-0.146831,-0.087803,0.062810,0.072434,-0.329824,0.746835,-0.566803
178,2020-06-01,3.827567,0.064460,0.021176,0.087617,-0.645544,-0.154589,-0.332709
179,2020-06-08,0.000000,0.109627,-0.030378,-0.077105,0.194431,0.334286,-0.848626
180,2020-06-15,0.000000,-0.089156,-0.020360,-0.027219,-0.040122,0.000000,4.597453
181,2020-06-22,0.000000,-0.046868,-0.021623,0.090723,0.133852,-0.220557,0.781758

# Plotting

In [109]:
pct_vals = ['crm_automatic_bledina_brand_emails',
       'website_total_bledina_brand_visits',
       'retail_total_bledina_product_dvm', 'Sales']

In [110]:
KPI_pct_change['week_start_float'] = KPI_pct_change['week_start'].apply(lambda x: x.timestamp())

In [111]:
KPI_pct_change.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 9 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   week_start                          182 non-null    datetime64[ns]
 1   crm_automatic_bledina_brand_emails  182 non-null    float64
 2   website_total_bledina_brand_visits  182 non-null    float64
 3   retail_total_bledina_product_dvm    182 non-null    float64
 4   Sales                               182 non-null    float64
 5   Digital                             182 non-null    float64
 6   Non_Digital                         182 non-null    float64
 7   Promo                               182 non-null    float64
 8   week_start_float                    182 non-null    float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 12.9 KB

# Loop through the KPI columns
for i in pct_vals:
    # Create a scatter plot with the percentage changes over time
    fig = go.Figure()
    fig.add_trace(go.Scatter(x=KPI_pct_change['week_start'], y=KPI_pct_change[i], mode='lines', name=i))
    
        
    # Logarithmic trendline
    z = np.polyfit(np.log(KPI_pct_change['week_start_float']), KPI_pct_change[i], 1)
    p = np.poly1d(z)
    fig.add_trace(go.Scatter(x=KPI_pct_change['week_start_float'], y=p(np.log(KPI_pct_change['week_start_float'])), mode='lines', name='Logarithmic trendline', line=dict(color='blue', dash='dash')))
    
    # Set the layout and show the plot
    fig.update_layout(title='KPI Percentage Changes Over Time', xaxis_title='Date', yaxis_title=i)
    fig.show()

In [112]:
Xf=pd.DataFrame()

# Gradient Values

In [113]:
# create a new DataFrame with the necessary columns
df2 = KPI_pct_change[['week_start', 'Sales']]

# calculate the gradient of the Sales column
grad = np.gradient(df2['Sales'])

In [114]:
# add the gradient as a new column to the DataFrame
Xf['decay_rate_Sales'] = grad

In [115]:
# create a new DataFrame with the necessary columns
df2 = KPI_pct_change[['week_start','crm_automatic_bledina_brand_emails']]

# calculate the gradient of the Sales column
grad = np.gradient(df2['crm_automatic_bledina_brand_emails'])

In [116]:
# add the gradient as a new column to the DataFrame
Xf['decay_rate_emails'] = grad

In [117]:
# create a new DataFrame with the necessary columns
df2 = KPI_pct_change[['week_start','website_total_bledina_brand_visits']]

# calculate the gradient of the Sales column
grad = np.gradient(df2['website_total_bledina_brand_visits'])

In [118]:
Xf['decay_rate_web'] = grad

In [119]:
# create a new DataFrame with the necessary columns
df2 = KPI_pct_change[['week_start','retail_total_bledina_product_dvm']]

# calculate the gradient of the Sales column
grad = np.gradient(df2['retail_total_bledina_product_dvm'])

In [120]:
Xf['decay_rate_dvm'] = grad

In [121]:
# create a new DataFrame with the necessary columns
df2 = KPI_pct_change[['week_start', 'Digital']]

# calculate the gradient of the Sales column
grad = np.gradient(df2['Digital'])

In [122]:
Xf['decay_rate_Digital'] = grad

In [123]:
# create a new DataFrame with the necessary columns
df2 = KPI_pct_change[['week_start','Non_Digital']]

# calculate the gradient of the Sales column
grad = np.gradient(df2['Non_Digital'])

In [124]:
Xf['decay_rate_Non_Digital'] = grad

In [125]:
# create a new DataFrame with the necessary columns
df2 = KPI_pct_change[['week_start','Promo']]

# calculate the gradient of the Sales column
grad = np.gradient(df2['Promo'])

In [126]:
Xf['decay_rate_Non_Promo'] = grad

In [127]:
Xf.head(30)

,decay_rate_Sales,decay_rate_emails,decay_rate_web,decay_rate_dvm,decay_rate_Digital,decay_rate_Non_Digital,decay_rate_Non_Promo
0,-0.146773,0.973113,-0.237781,-0.060034,0.324114,0.042716,1.831812
1,0.001906,-0.207059,-0.040824,0.009265,-0.089746,0.000000,2.038539
2,0.033847,-0.848631,0.047793,0.025466,-0.243063,-0.021358,-1.092594
3,0.004167,1.458680,-0.094499,-0.000973,-0.121244,-0.001487,-2.192800
4,0.039376,0.237211,-0.059771,0.009428,-0.231403,-0.103207,-0.160700
5,-0.049590,-0.540080,0.136787,-0.018813,0.240845,0.001487,0.025886
6,0.010657,0.202445,0.228091,-0.005948,0.457588,21.243078,0.077413
7,0.158474,-0.921830,0.026707,0.015566,0.320376,-0.135951,9.062753
8,0.057700,-0.129243,-0.225505,-0.002002,-0.359068,-21.618907,1.059492
9,-0.252128,0.276175,0.022283,-0.008419,-0.027973,19.890736,-9.324184
10,-0.080916,0.043790,0.121595,0.002823,0.399870,0.656435,-1.274928
11,0.181262,-0.417579,-0.103941,0.017526,0.761423,-19.574674,0.311235
12,0.046981,1.399386,0.058027,0.001411,-0.005902,-0.458775,4.735150
13,-0.083099,0.698822,0.016761,-0.015663,-1.229224,-0.264934,-0.165439
14,-0.046151,-1.594297,-0.058974,0.001789,-0.164103,-0.216015,-1.648570
15,0.062220,-0.350958,0.010212,-0.007600,0.102783,4.338436,-0.134608
16,0.028184,0.191762,-0.010278,0.002791,-0.112633,23.411527,-1.729931
17,-0.070474,-0.079504,-0.006304,0.005017,-0.017833,-4.338732,0.158032
18,-0.025743,0.239297,0.023824,-0.016837,-0.000510,-22.999199,-0.561707
19,0.047664,0.311833,-0.045485,0.005044,-0.034314,0.014994,0.343313
20,0.084291,-0.603129,0.104695,0.028545,0.134113,-0.404076,-0.558504
21,0.002980,0.399469,0.116114,-0.000795,0.077333,0.070124,-0.358538
22,-0.073032,0.778614,-0.114623,-0.056122,-0.094594,0.489140,1.935837
23,-0.054987,-0.856786,0.057616,0.001893,-0.123527,0.000000,0.292158
24,0.023282,-0.339788,0.036642,0.062204,1.533645,15.706143,-2.162672
25,0.099276,1.064028,-0.138365,-0.008561,-0.124476,-0.048355,1.126422
26,-0.067621,-0.143736,-0.056484,-0.022998,-1.646254,-15.569075,0.454259
27,-0.069137,-0.669529,0.199385,0.003804,0.866367,-0.134277,-1.320733
28,0.057640,-0.219061,0.069824,0.006196,0.920692,-0.292628,0.129151
29,0.061420,0.171028,-0.051363,0.015751,-0.712590,0.736865,-0.276507

In [128]:
Xf.mean()

decay_rate_Sales          0.000419
decay_rate_emails         0.002673
decay_rate_web           -0.000795
decay_rate_dvm           -0.000287
decay_rate_Digital        0.002104
decay_rate_Non_Digital   -0.001700
decay_rate_Non_Promo     -0.001155
dtype: float64