In [1]:
import pandas as pd
import numpy as np
import seaborn as sn
import scipy.stats as st

In [2]:
df = sn.load_dataset('tips')

In [3]:
# dataset of restaurent, transaction of tips 
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
df.shape

(244, 7)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

# Descriptive Stats for Categorical variables

In [14]:
df_cat = df.select_dtypes(include='category')

In [15]:
df_cat.head()

      sex smoker  day    time
0  Female     No  Sun  Dinner
1    Male     No  Sun  Dinner
2    Male     No  Sun  Dinner
3    Male     No  Sun  Dinner
4  Female     No  Sun  Dinner

In [17]:
p = df_cat.sex.value_counts(normalize=True)

In [18]:
round(p*100,2)

Male      64.34
Female    35.66
Name: sex, dtype: float64

In [20]:
df["size"].sum()

627

In [27]:
df.time.value_counts(normalize=True)*100

Dinner    72.131148
Lunch     27.868852
Name: time, dtype: float64

In [32]:
(df.query('time == "Dinner"').sum()/627)*100

C:\Users\AniruddhaMistry\AppData\Local\Temp\ipykernel_12656\2033734001.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  (df.query('time == "Dinner"').sum()/627)*100

total_bill    583.779904
tip            87.092504
size           73.843700
dtype: float64

Keeping in bussiness prospective frame queries and get in-sights on that